<html>
    <head>
        <title> Memory-Loss</title>
        <link rel="stylesheet" href="homes.scss" />
        <script type="text/javascript" src="homes.js"></script>

    </head>
    <body>

    <hr />
    <div id="memory_board"></div>
    <p id="player_one_name"></p>
    <div id="message"> Wecome to Memory-Loss</div>
    <hr />
    <div class="Center">
        <table border="5">

            <tr>
                <td id="s1" class="Square" onclick ="nextMove(this);"></td>
                <td id="s2" class="Square" onclick ="nextMove(this);"></td>
                <td id="s3" class="Square" onclick ="nextMove(this);"></td>
                <td id="s4" class="Square" onclick ="nextMove(this);"></td>
            </tr>
            <tr>
                <td id="s5" class="Square" onclick ="nextMove(this);"></td>
                <td id="s6" class="Square" onclick ="nextMove(this);"></td>
                <td id="s7" class="Square" onclick ="nextMove(this);"></td>
                <td id="s8" class="Square" onclick ="nextMove(this);"></td>
            </tr>
            <tr>
                <td id="s9" class="Square" onclick ="nextMove(this);"></td>
                <td id="s10" class="Square" onclick ="nextMove(this);"></td>
                <td id="s11" class="Square" onclick ="nextMove(this);"></td>
                <td id="s12" class="Square" onclick ="nextMove(this);"></td>
            </tr>
            <tr>
                <td id="s13" class="Square" onclick ="nextMove(this);"></td>
                <td id="s14" class="Square" onclick ="nextMove(this);"></td>
                <td id="s15" class="Square" onclick ="nextMove(this);"></td>
                <td id="s16" class="Square" onclick ="nextMove(this);"></td>
            </tr>
            
        </table
        <hr />
    </div>
        <a href="javascript:history.go(0)"><button class="button">Restart the Game</button></a>
        <script>newBoard();</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    </body>
</html>

